<div id="dashboard-wrapper">
	<div class="header-wrapper">
		<div class="header">
			<ul class="nav-list">
				<li>
					<img class="logo" src="/static/imgs/idomino.png">
				</li>
				<li>
					<span>Store</span>
				</li>
				<li>
					<span>iDomino</span>
				</li>
				<li>
					<span>iToaster</span>
				</li>
				<li>
					<span>iBathroomMat</span>
				</li>
				<li>
					<span>iKetchupPacket</span>
				</li>
				<li>
					<span>Support</span>
				</li>
				<li>
					<img class="search" src="/static/imgs/search.svg" onerror="this.onerror=null; this.src='/static/imgs/search.png'">
				</li>
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="local-header-wrapper">
			<div class="local-header">
				<h2>iDomino 6</h2>
				<div class="buy-btn">
					<span>Buy Now</span>
				</div>
				<div class="explore-btn">
					<span>Explore</span>
					<img class="grid" src="/iDomino/static/imgs/grid.svg" onerror="this.onerror=null; this.src='/iDomino/static/imgs/grid.png'">
				</div>
			</div>
		</div>
		<div class="hero-wrapper">
			<div class="hero">
				<div class="title">
					<div class="thing">iDomino 6</div>
					<div class="slogan">An over-engineered solution</div>
				</div>
			</div>
		</div>
		<div id="domino-wrapper" class="domino-wrapper">
		</div>
	</div>
</div>